
body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
      background-image: url(image3.jpeg); background-size: cover;
  }
  .container {
      max-width: 400px;
      margin: 50px auto;
      text-align: center;
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  input[type="text"], select {
      width: calc(100% - 40px);
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
  }
  button:hover {
      background-color: #0056b3;
  }
  #result {
      margin-top: 20px;
      font-weight: bold;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f9f9f9;
  }
  h2{
      color:red
  }
